src/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person" type="personType"/>
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element type="xs:positiveInteger" name="id"/>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="surname"/>
            <xs:element type="xs:date" name="birthday"/>
            <xs:element type="xs:positiveInteger" name="facebookId"/>
            <xs:element type="xs:positiveInteger" name="googleId"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>